.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-icon {
  padding: 0 4px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  
}

mat-toolbar {
    max-height: 35px;
    min-height: 35px;
}
.spinner-box{
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100%;
      min-height: 100%;

}
